.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input{
    border-radius: 10%;
    width: 200px;
}
h2 {
    text-align: center;
}
.page {
    width: 100vw;   /* 100% of viewport width */
    height: 100vh;  /* 100% of viewport height */
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */
    flex-direction: column;  /* stack children vertically */
}
* {
  box-sizing: border-box;
}